<html>

    <head>
    </head>

    <body>
      <h1> Hello! </h1>
      <table>
        <tr>
	  <td>Name</td>
	  <td id="name"></td>
	</tr>
        <tr>
	  <td>Age</td>
	  <td id="age"></td>
	</tr>
        <tr>
	  <td>Country</td>
	  <td id="country"></td>
	</tr>
      </table>
      <script>
	function getJsonData() {
	    var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function () {
	        if (this.readyState == 4 && this.status == 200) {
		    var myObj = JSON.parse(this.responseText);
		    document.getElementById("name").innerHTML = myObj.Name;
		    document.getElementById("age").innerHTML = myObj.Age;
		    document.getElementById("country").innerHTML = myObj.Country;
		}
	    }
	    xmlhttp.open("GET", "/json", true);
	    xmlhttp.send();
	}
      </script>
      <script>
	getJsonData();
      </script>
    </body>

</html>
